vendor
.idea
uploads
storage/debugbar
nbproject
public/adminer.php
.env
build.json
database/old-migrations
.htaccess
db_dump
docker/database_data_dir
.phpunit.result.cache
.vscode
docker/mariadb_data_dir/*
mariadb_data_dir
storage/HMS
storage/backup-temp